/* CHD-ESP32-S3-BOX: OV3660 probe with shared I2C0 and XMCLK on IO39 */

#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>

/ {
	chosen {
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,camera = &lcd_cam;
	};
};

&usb_serial {
	status = "okay";
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO8>,
				 <I2C0_SCL_GPIO18>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};

	lcd_cam_default: lcd_cam_default {
		group1 {
			pinmux = <LCD_CAM_CAM_CLK_GPIO39>;
			output-enable;
		};

		group2 {
			pinmux = <LCD_CAM_V_SYNC_CAM_GPIO42>,
				 <LCD_CAM_H_ENABLE_CAM_GPIO41>,
				 <LCD_CAM_CAM_PCLK_GPIO14>,
				 <LCD_CAM_DATA_IN0_GPIO12>,
				 <LCD_CAM_DATA_IN1_GPIO10>,
				 <LCD_CAM_DATA_IN2_GPIO9>,
				 <LCD_CAM_DATA_IN3_GPIO11>,
				 <LCD_CAM_DATA_IN4_GPIO13>,
				 <LCD_CAM_DATA_IN5_GPIO21>,
				 <LCD_CAM_DATA_IN6_GPIO38>,
				 <LCD_CAM_DATA_IN7_GPIO40>;
			input-enable;
			bias-disable;
		};
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	ov3660: ov3660@3c {
		compatible = "ovti,ov3660";
		reg = <0x3c>;
		status = "okay";

		port {
			ov3660_ep_out: endpoint {
				remote-endpoint = <&dvp_ep_in>;
			};
		};
	};
};


&dma {
	status = "okay";
	};

&lcd_cam {
	status = "okay";
	cam-clk = <10000000>;
	pinctrl-0 = <&lcd_cam_default>;
	pinctrl-names = "default";
	source = <&ov3660>;
	dmas = <&dma 2>;
	dma-names = "rx";

	port {
		dvp_ep_in: endpoint {
			remote-endpoint = <&ov3660_ep_out>;
		};
	};
};